.image-container {
    position: relative;
    text-align: center;
    color: white;
    cursor: pointer;
}

.centered-text {
    position: absolute;
    top: 38%;
    left: 23%;
    background: transparent;
    color: #00d9ff7e;
    font-size: 35px;
}

.image-container:hover{
    border: 3px solid #8080805e;
    color: #3700ff70;
}